.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  background-color: #f9f9f9;
}
.logo-container {
  height: 100%;
  padding: 0 5px;
  display: flex;
}
.logo {
  width: 100px;
  border: 2px solid #4a4a4a;
  margin-left: -4px;
}

.options {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.option {
  padding: 10px 15px;
  cursor: pointer;
}
