.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
.logo-container {
   height: 100%;
  padding: 0 5px;
  display: flex;
}
.logo {
  width: 100px;
  border-left: 2px solid #4a4a4a;
  border-bottom: 2px solid #4a4a4a;
}

.options {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.option {
  padding: 10px 15px;
}
